/*********************************************/
/*         CHARITY THEME STYLESHEET          */
/*             by Chris Allison              */
/*                                           */
/*********************************************/


/*************** HTML ELEMENTS ***************/
* {
	margin:	 0px;
	padding: 0px;
}

body {
	background-color: #a6bf79;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 10px 10px;
	padding: 0px;
	text-align: center;
}

a {
	font-size: 12px;
}

p{
	margin: 15px 0px;
}

h1, #main_content h2 a, #main_content-right h2 a {
	color: #000000;
	font-size: 14px;
	margin: 20px 0px 20px 0px;
}

h2{
	color: #85a157;
	font-size: 14px;
	margin: 10px 0px 15px 0px;
}

h3 {
	color: #85a157;
	font-size: 12px;
	margin: 10px 0px 10px 0px;
}

code {
	display: block;
	padding: 0 5px;
	border: 1px solid #BBB;
	background-color: #EEE;
	font-family: Courier;
	font-size: 14px;
}

blockquote {
	margin: 0 20px 0 20px;
}

ul, ol {
	padding-left: 2.5em;
}


/*************** MISC DRUPAL ELEMENTS ***************/
.block {
	margin-bottom: 20px;
}

.node {
	margin-bottom: 40px;
}

.meta, .meta a, .submitted, .submitted a {
	font-size: 10px;
}

.content {
	margin-bottom: 10px;
}

ul.pager li {
	margin: 0;
}

#user-login-form {
	text-align: left;
}

tr.even {
	background-color: #FBFBFB;
}

.admin-panel ul {
	padding-left: 10px;
}

.picture {
	float: right;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	padding: 0 0 10px 10px;
}


/*************** BLOCK REGIONS ***************/
#header_left {
	position: absolute;
	top: 90px;
	left: 10px;
	width: 380px;
	height: 160px;
	overflow: hidden;
}

.no-girl #header_left {
	width: 690px;
}

#header_left h2 {
	color: #638034;
}

#header_left a {
	color: #28556b;
}

#header_left a:hover {
	color: #c77e0c;
}

#sidebar, #sidebar-left {
	float:right;
	width:210px;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	border-left: #FFF 2px solid;
}

#sidebar-left {
	float: left;
	border-right: #FFF 2px solid;
	width: 180px;
}

#sidebar a, #sidebar-left a {
	color:#c77e0c;
}

#sidebar a:hover, #sidebar-left a:hover {
	color:#85a157;
}


/*************** HEADER ***************/
.header {
	margin: 0px 0px 0px 0px;
	background-image:url(images/header.jpg);
	width:717px;
	height:255px;
	position:relative;
}

.no-girl {
	background-image:url(images/header_nogirl.jpg);
}

.header img {
	margin: 5px 0 0 25px;
}

.site-name {
	position:absolute;
	top:0px;
	left:70px;
	width: 375px;
}

.site-name a {
	font-size: 24px;
	font-style:italic;
	font-weight: normal;
	text-decoration: none;
	color:#FFFFFF;
}

.site-name a:hover {
	text-decoration: underline;
}

.site-slogan {
	top:35px;
	left:90px;
	width:330px;
	position:absolute;
}

.site-slogan p {
	font-size: 16px;
	color:#FFFFFF;
}


/*********************** MENU *****************************/
#main_menu ul{
	background-color: #85a157;
	width: 711px;
	border: 3px solid #FFFFFF;
	display: block;
	top: 255px;
	position: absolute;
	margin: 0px 0px 0px 0px;
	height: 19px;
	padding: 5px 0px 0px 0px;
	text-align: center;
}
#main_menu li{
	display:inline;
	margin: 0;
	padding: 0;
}
#main_menu ul a{
	text-decoration:none;
	color:#FFFFFF;
	padding: 5px 15px;
}
#main_menu ul a:hover, #main_menu a.active{
	text-decoration:underline;
	background-color: #657c41;
}


/*************** DRUPAL MESSAGES ***************/
.messages {
	padding: 5px;
	border: 1px solid #BBB;
	margin: 10px 0;
}

.help, .status {
	padding: 10px 10px 10px 35px;
	margin-bottom: 20px;
	background: #EFEFEF url(images/info.png) 10px 10px no-repeat;
	border: 1px solid #EFEFEF;
}

div.error, div.warning {
	padding: 10px 10px 10px 35px;
	background: #FFEEEE url(images/alert.png) 10px 18px no-repeat;
	border: 1px solid #DD7777;
}

.status {
	background-color: #AEA;
}

div.warning {
	color: #e09010;
	background-color: #FFFFDD;
	border: 1px solid #f0c020; 
}

.status p, .messages p, div.error p {
	display: inline;
}

div.error ul {
	padding: 0 10px 0 10px;
}

div.error a {
	border: none;
}


/*************** EXPAND LINK ***************/
#right-toggle {
	margin-top: 10px;
}

#right-toggle a {
	cursor:pointer;
}


/*************** CONTENT ***************/
#container {
	margin: 0px auto;
	text-align: left;
	width: 717px;
}

.breadcrumb {
	margin-top: 10px;
}

#mission {
	padding: 10px;
	border: 1px solid #FFF;
    margin-bottom: 20px;
	margin-top: 10px;
	background-color: #F8FAF8;
}

#content {
	background-image: url(images/content_bg.gif);
	width: 717px;
	padding-top: 30px;
}

#main_content, #main_content-right, #wide {
	float: left;
	width: 428px;
	margin-left: 27px;
	padding: 0px 10px 30px 0px;
	display: inline;
	overflow: auto;
}

#main_content-right {
	float: right;
	margin-right: 27px;
}

#wide {
	width: 660px;
}

#main_content h2, #main_content-right h2, #wide h2 {
	margin-bottom: 0;
}

#main_content h2 a, #main_content-right h2 a, #wide h2 a {
	text-decoration: none;
}

#main_content a, #main_content-right a, #wide a {
	color: #28556b;
}

#main_content a:hover, #main_content-right a:hover, #wide a:hover {
	color: #c77e0c;
}


/*************** COMMENTS ***************/
div.comment {
	margin: 0 0 10px 30px;
	padding: 0 0 5px 10px;
	border-left: 2px solid white;
	border-bottom: 1px solid white;
}

div.comment ul.links a {
	text-decoration: none;
}


/*************** FOOTER ***************/
#footerline {
	clear: both;
	background-image: url(images/footer_bg.gif);
	font-size: 1px;
	height: 10px;
}

#footer {
	width: 717px;
	text-align: center;
	padding: 20px 0px;
}

#footer a {
	color: #000000;
}

#footer a:hover {
	color: #c77e0c;
}


/*************** SECONDARY LINKS ***************/
.secondary_links {
	text-align: center;
	margin-top: 5px;
	color: #FFFFFF;
}

.secondary_links li {
	display: inline;
}

.secondary_links a {
	color: #FFFFFF;
	text-decoration: none;
}

.secondary_links a:hover {
	text-decoration: underline;
}